.title-ranking{
    color: white;
    margin-top: 10vh
}

.names-games-points,.nm {
    color: white;
    list-style: none;
    width: 10px;
}

.name-games-points{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    
}

.classement {
    background-color: black;
    height: 90vh;
}
