.pronos {
    /* background-image: url('./Background/Ligue1UberEats.jpeg');
    background-size: cover;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; */
    background-color: black;
    height: 100%;
    width: 100vw;
    color: white;


}

.pronos h1 {
    color: white;
    font-family: cursive
}

.title-fr {
    width: 100%;
    height: 100px;
    /* background-color: lightslategray; */
    background-image: url('./Background/Ligue1UberEats.jpeg');
    background-size: cover;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
    display: flex;
    justify-content: center;
}

.teams-pic {
    height: 30px;
    margin: 5px;
   
}

.form label {
    font-family: 'initial';
    font-size: 20px;
}

.form input {
    margin: 10px
}

.games {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

.nul {
    display: flex;
    flex-flow: column;
}

.teamsName{
    display: flex;
    align-items: center;
    width: 12vw;
    flex-direction: column-reverse;
}

#firstGame, #secondGame {
    margin-top: 3vh
}

.showLoad {
    animation: cssAnimation 0s 5s forwards;
    visibility: visible;
}

@keyframes cssAnimation {
  to   { visibility: hidden; }
}

.showMerci {
    animation: cssAnimations 0s 5s forwards;
    visibility: hidden;
}

@keyframes cssAnimations {
  to   { visibility: visible; }
}


@media screen and (max-width: 780px) {
    .games{
        display: flex;
        justify-content: space-evenly;
    }

    .teamsName {
        width: 27vw
    }
}





