.pronos {
    background-image: url('./ucl.png');
    background-color: black;
    height: 90vh;
    width: 100vw;
    color: white;

}

.pronos h1 {
    color: white;
    font-family: cursive
}

.title-fr {
    width: 100%;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
}

.teams-pic {
    height: 30px;
    margin: 5px;
   
}

.form label {
    font-family: 'initial';
    font-size: 20px;
}

.form input {
    margin: 10px
}

.games {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

.nul {
    display: flex;
    flex-flow: column;
}

.teamsName{
    display: flex;
    align-items: center;
    width: 12vw;
}

#firstGame, #secondGame {
    margin-top: 3vh
}

@media screen and (max-width: 780px) {
    .games{
        display: flex;
        justify-content: space-evenly;
    }

    .teamsName {
        width: 20vw
    }
}





