.header {
    position: relative;
    top:0;
    width: 100%;
    height: 90px;
    background: black;
    display: flex;
    justify-content: center;
    font-family: cursive

}

.titre {
    color: white;
}

.foot-img {
    height: 30px;
    margin-top: 5px;
}

